# Stage through the Windows secret mechanism; never commit populated values.
DEPLOYMENT_ENV=production
GRADE_API_BASE_URL=https://grades-api.tutoringclub.com

WORKER_ID=<windows-worker-identity>
WORKER_API_KEY=<worker-token>
WORKER_API_CA_FILE=C:\ProgramData\GradeWorker\pki\client-ca-chain.pem
WORKER_API_CLIENT_CERT_FILE=C:\ProgramData\GradeWorker\pki\worker.crt
WORKER_API_CLIENT_KEY_FILE=C:\ProgramData\GradeWorker\pki\worker.key

SCHEDULER_ID=<windows-scheduler-identity>
SCHEDULER_API_KEY=<scheduler-token>
SCHEDULER_API_CA_FILE=C:\ProgramData\GradeWorker\pki\client-ca-chain.pem
SCHEDULER_API_CLIENT_CERT_FILE=C:\ProgramData\GradeWorker\pki\scheduler.crt
SCHEDULER_API_CLIENT_KEY_FILE=C:\ProgramData\GradeWorker\pki\scheduler.key

OPERATOR_API_KEY=<operator-token>
OPERATOR_API_CA_FILE=C:\ProgramData\GradeWorker\pki\client-ca-chain.pem
OPERATOR_API_CLIENT_CERT_FILE=C:\ProgramData\GradeWorker\pki\operator.crt
OPERATOR_API_CLIENT_KEY_FILE=C:\ProgramData\GradeWorker\pki\operator.key

WINDOWS_SCHEDULED_FRANCHISES=6,8,11,15,16,19,49,57,60,74,87
WINDOWS_SCHEDULED_JOB_KINDS=grade,agenda
