# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Database
*.db
*.sqlite3

# Config files with secrets
# config/students.*
# config/students.db.*

# Output & Temporary files
output/
captcha.png
gilbert_parent_portal.html
*.jsonl

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
