<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TC Grade Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/webp" href="../static/imgs/tc_logo.webp">
</head>

<body>
    <div class="container">
        <img style="display: block; margin-left: auto; margin-right: auto;" src="../static/imgs/tc_logo.webp" width="10%" height="10%" alt="TC Logo" class="logo-image">
        <h1 style="margin-top: 10px">Student Grade and Progress Tracker</h1>
        <form method="POST">
            <label for="franchise_id">Select a franchise</label>
            <input type="number" id="franchise_id" name="franchise_id" style="margin-bottom: 16px" required>
            <button type="submit">Go</button>
        </form>
    </div>
</body>
</html>